
.video__content{

 
    
}



.img1{
display: flex;
margin: 0 auto;
max-width: 90%;
	max-height: 90%;
}
.img2{
display: flex;
margin: 0 auto;
max-width: 90%;
	max-height: 90%;
}
.img3{
display: flex;
margin: 0 auto;
max-width: 90%;
	max-height: 90%;
	
}



@media (max-width: 834px) {
 .burger{
 	display: block;
}
.nav{
	display: none;
}

.burger_line{
	width: 80px;
	height: 10px;
	margin-bottom: 10px;
	display: flex;
	margin-right:0;
	margin-left: auto;
}

.img1{
display: flex;
margin: 0 auto;
max-width: 80%;
	max-height: 80%;
}
.img2{
display: flex;
margin: 0 auto;
max-width: 80%;
	max-height: 80%;
}
.img3{
display: flex;
margin: 0 auto;
max-width: 80%;
	max-height: 80%;

}

@media (max-width: 450px ) {
	.container{

				max-width: 360px;
	}
	.burger{
 	display: block;
}
.nav{
	display: none;
}
.audio-track {
    width: 150px;
    height: 3px;
    background-color: #dddddd;
    margin: 20px 0
}
 
.time {
    width: 0;
    height: 3px;
    background-color: #474747
}
.music_pleer{
	background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages3.alphacoders.com%2F138%2Fthumb-1920-138957.jpg&f=1&nofb=1&ipt=a15ebff456bc55c6b1c7f61c1d289a911d6e41ea36ed06034bc6dc2b398b89ae&ipo=images);
	display: flex;
	height: 100px;
	justify-content: center;
}








