
@font-face {
	font-family: 'Crimson Text';
	font-style: italic;
	font-weight: normal;
	src: local('Crimson Text'),
		url('/fonts/CrimsonText-Italic.woff2') format('woff2'), 
		url('/fonts/CrimsonText-Italic.woff') format('woff'),
		url('/fonts/CrimsonText-Italic.ttf') format('ttf'),
		url('/fonts/CrimsonText-Italic.eot') format('eot');
}


.chapka{
	

}
.img_vocoloid{
	display: flex;
	margin: 0 auto;

}
.container{
	display: flex;
	
	 background-image: url(https://sun9-36.userapi.com/impg/zS6j2zwAa5wfIY4OfW_obh84qPh05XEHB0xABw/IkE0DLSWJns.jpg?size=807x481&quality=95&sign=17144fd9b7f51c299e30f5428b37783f&c_uniq_tag=UvXbylOKDCG7gODy5yw6ZN5vX0ZUu_hwfSgVeQBaEjk&type=album);
	
}
.container_header{
	justify-content: space-between;

}
.vocoloid{
	color: #0038FF;
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;
align-items: center;
display: flex;
margin: 0 auto;
max-width: 400px;
}
.nav{
margin-right: 150px;
}
.nav_list{
	display: flex;
	margin: 0 auto;
	max-width: 640px;
}
.nav_item{
	margin-right: 40px;

}
.nav_link{
	text-decoration: none;
}
.nav_link1{
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;

color: #FAFF00;
}
.nav_link2{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;

color: red;

}
.nav_item:hover{
	color: red;
}
.nav_link:hover{
	color: #30D3D3;
}

.burger{
	background-color: transparent;
	border: none;
	display: none;
}

.main{

}





/* home 2-й раздел сайта*/


.text_pri{
	align-items: center;
	 margin-left: auto;
    margin-right: auto;
width: 941px;
height: 2000px;
left: -200px;
top: -20px;
	

}
.text1{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #FFE600;
font-family: 'Crimson Text';
	font-style: italic;
}
.text2{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #F392AD;
font-family: 'Crimson Text';
	font-style: italic;
}
.text3{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #1F9A7E;
font-family: 'Crimson Text';
	font-style: italic;

}





	/* footer */

	.footer{
		display: flex;
	
		justify-content: space-between;


	}
	/* фон */

/*адаптивная верска для планшета.*/
@media (max-width: 834px) {
 .burger{
 	display: block;
}
.nav{
	display: none;
}

.burger_line{
	width: 80px;
	height: 10px;
	margin-bottom: 10px;
	display: flex;
	margin-right:0;
	margin-left: auto;
}
.container{
	
}
.container_header{
	display: flex;
	 

}
.nav_link{ 
	font-size: 18px;

}
.img_vocoloid{
	width: 400px;
height: 120px;
}
.text_pri{
	max-width: 630px;
	margin: 0 auto;
	display: block;
	height: 3790px;
	left: auto;
	top: auto;
}



/* галерия планшет */
.text_g{
	font-size: 40px;
}
.gallary_list{
display: flex;
flex-wrap: wrap;
list-style: none;
margin-bottom: 0;



	}
	.img_1{
width: 100%;



	}
	.img_2{
text-align: center;
margin: 0 auto;
width: auto;
	}
	.lightzoom{

	}
	.img_3{
		
	}
.footer{
		display: flex;
		
		justify-content: space-between;
	}

	


}

@media (max-width: 450px ) {
	.container{

				max-width: 360px;
	}
	.burger{
 	display: block;
}
.nav{
	display: none;
}
	.nav_link{
		font-size: 15px;
	}	.text1{
font-size: 14px;
	}
	.text2{
font-size: 14px;
	}
	.text3{
font-size: 14px;
	}
	.text4{
font-size: 14px;
	}
	.text5{
font-size: 14px;
	}

.vocoloid{
	font-size: 70px;
}
.img_vocoloid{
	width: 220px;
height: 127px;
}
.text_pri{ 
	max-width: 360px;
	font-size: 14px;
	 line-height: 15px;
	padding-bottom: auto;
}
}





