.text_sekai{
	
font-size: 40px;

margin: 0 auto;
text-align: center;
color: #FF0000;
}
.text_pro-diva{
	
font-size: 35px;

margin: 0 auto;
text-align: center;
color: #FF0000;
}
.img_pro-diva{
	width: 600px;
	height: 337px;
display: block;
      margin: 0 auto;
}

.img_sekai{
	display: block;
      margin: 0 auto;
}
.music{
	display: flex;
	margin: 0 auto;
}
.text_music{
	color: red;
	font-size: 25px;
	
	text-align: center;
}
